<%= render partial: 'partials/navbar', locals: { name: "CATEGORIES" } %>

<div class="container">
  <div class="d-flex text-center mb-3">
    <h3>Overall Expense:</h3>
    <h3 class="ms-3"> <%= number_to_currency(@expenses.sum(&:amount), unit:"₦") %> </h3>
  </div>

  <% if @categories.empty? %>
    <p>Category lists is empty, please add a new category</p>
  <% else %>
    <% @categories.each do |category| %>
      <%= link_to user_category_path(current_user, category.id), class: "hover text-decoration-none neutral-color-1" do %>
        <div class="card shadow mb-4 px-3 pt-3">
          <div class="d-flex justify-content-between" >
            <div class="d-flex" >
              <%= image_tag category.icon, class: "w-25 me-3", alt: "Category Icon" %>
              <h2 class="fs-4">
                <%= category.name %>              
              </h2>
            </div>
            <span>
              <%= number_to_currency(category.expenses.sum(&:amount), unit:"₦") %> 
            </span>
          </div>
          <span class="neutral-color-2 fs-6" > <%= category.created_at.strftime("%B, %e at %H:%M") %> </span>         
        </div>
      <% end %>   
    <% end %>
  <% end %>
</div>

<div class="p-3 new-category-btn" >
  <%= link_to "Add Category", new_user_category_path(current_user), class: "btn new-category-btn" %>
</div>